.member {
    width: 100%;
    display: flex;
    align-items: center;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 15%;
    margin-top: 20px;

    & > h2 {
        margin-bottom: 10px;
    }
}
