.Modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
}

.body {
    padding: 10px;
}

.header {
    border-bottom: 1px solid black;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0 2px;
    justify-content: end;
}

.content {
    position: relative;
    z-index: 1000;
    border: 1px solid black;
}

.close {
    color: red;
    line-height: 1;
}
